[project]
name = "ml-project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy",
    "tqdm",
    "hydra-core",
    "music21",  # Fallback only
    "pytest",
]
